/* ----- Fonts ----- */

@font-face {
    font-family: 'Roboto-BlackItalic.ttf';
    src: url('../fonts/Roboto-BlackItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Black.ttf';
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-BoldItalic.ttf';
    src: url('../fonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Bold.ttf';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Italic.ttf';
    src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto-LightItalic.ttf';
    src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Light.ttf';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-MediumItalic.ttf';
    src: url('../fonts/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Medium.ttf';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Regular.ttf';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-ThinItalic.ttf';
    src: url('../fonts/Roboto-ThinItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Thin.ttf';
    src: url('../fonts/Roboto-Thin.ttf');
}

/* -------------------------- General style ----------------------------------*/

html,
body
{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* permet d empecher le scroll sur un axe */
    font-family: 'Roboto', sans-serif;
}

html
{
    color: #74777B;
    font-size: 1em;
    line-height: 1.4;
}

*
{
    box-sizing: border-box;
}

/* Titles */

h1,
h2,
h3,
h4
{
    color: #434343;
    margin-bottom: .5em;
}

h1
{
    font-size: 2em;
    text-transform: uppercase;
}

h1 span
{
    color: #64ABCD;
}

h2
{
    font-size: 2.25em;
    text-transform: uppercase;
    text-align: center;
}

h3
{
    font-size: 1.2em;
}

h2 + p,
h2 + hr + p
{
    text-align: center;
}

a
{
    text-decoration: none;
}

ul
{
    padding: 0;
    margin: 0;
}

img
{
    display: inline-block;
}

hr
{
    display: block;
    border: 0;
    border-top: 1px solid #EDEDED;
    width: 10%;
    height: 1%;
    margin-bottom: 1%;
}



iframe,
img,
svg
{
    vertical-align: middle;
}

fieldset
{
    border: 0;
    margin: 0;
    padding: 0;
}

textarea
{
    resize: vertical;
}

p
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.left
{
    float: left;
    margin-right: 1em;
}

.btn
{
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 0.75em 1.25em;
    border: 0;
    box-shadow: inset 0 -3px rgba(0, 0, 0, .2);
    outline: none;
}

.btn:hover
{
    box-shadow: inset 0 -1px rgba(0, 0, 0, .2);
}

.btn.btn-primary
{
    background-color: #64ABCD;
    color: white;
}

.icon
{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 2em;
    height: 2em;
    padding: .2em;
    border: 1px solid #E8E8E8;
    border-radius: 100%;
    font-size: 1.75em;
    line-height: 2em;
    margin-top: 0.2em;
}

.icon i
{
    color: #64ABCD;
}

.services-separator i,
.projets-separator i
{
    color: #64ABCD;
}

.icon:after
{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 0;
    border-radius: 100%;
    background-color: #64ABCD;
    box-shadow: 0 0 0 4px white;
    position: absolute;
    top: 50%;
    right: -5px;
}

.icon.left
{
    float: none;
    display: block;
    margin: 0 auto;
}

.services-content
{
    display: block;
}

nav.btn-group
{
    display: flex;
    justify-content: center;
    margin: 4em auto;
    flex-direction: column;
}

nav.btn-group .btn
{
    border-radius: 0;
    background: #E3E3E3;
    color: #74777B;
    box-shadow: none;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

nav.btn-group .btn:hover
{
    background: #D9D9D9;
}

.services-infos,
.projets-infos
{
    text-align: center;
}

nav.btn-group .btn.active
{
    background: #64ABCD;
    color: white;
    box-shadow: inset 0 -3px rgba(0, 0, 0, .2);
}


/* Custom styles */

body
{
    padding-top: 90px;
}

.fixed-nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.general-wrap
{
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

section
{
    padding: 1% 1%;
}

.main-navbar
{
    display: block;
    margin: 0 auto;
    padding: 0 2em;
}

#logo
{
    margin: .9em 0 0 5em;
    text-align: left;
    display: block;
}

.main-navbar ul
{
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.main-navbar a
{
    display: block;
    padding: 2em 1em;
    text-decoration: none;
    color: #999;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.main-navbar a:hover
{
    border-top-color: #64ABCD;
}

.slider
{
    position: relative;
    width: 100%;
}

.slider h1,
.slider p
{
    color: white;
}

.button-left,
.button-right
{
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    color: white;
    width: 5em;
    height: 5em;
    padding: 1em;
    background-color: rgba(0, 0, 0, .35);
    cursor: pointer;
    z-index: 8;
    border-radius: 100%;
    border: 0;
}

.button-left:hover,
.button-right:hover
{
    background-color: rgba(0, 0, 0, .6);
}

.button-left
{
    left: -2em;
}

.button-right
{
    right: -2em;
}

#slide
{
    position: relative;
    width: 100%;
    background: center url("../images/slider/bg1.jpg") no-repeat;
    background-size: cover;
    height: 550px;
}

.slide-content
{
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
}

.progress-bar
{
    height: 5px;
    background-color: rgba(0, 0, 0, .35);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 15;
}

.blue-progress-bar
{
    height: 5px;
    background-color: #5488A1;
    position: absolute;
    bottom: 0;
    width: 25%;
    z-index: 20;
}

#services ul
{
    margin: 5em auto 0;
    list-style-type: none;
    text-align: center;
}

#portfolio
{
    background: #F4F4F4;
}

.projects
{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.projet
{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 1em 0;
    box-sizing: border-box;
}

.projet h4,
.projet p
{
    color: white;
}

.projet img
{
    max-width: 100%;
}

.projet:hover .overlay
{
    opacity: 1;
    transition: all 1s;
}

.projet .overlay
{
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    padding: 2%;
    background-color: rgba(0, 0, 0, .5);
}

.projet .overlay span
{
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 1.5em;
    background: #64ABCD;
    color: white;
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    top: -1em;
    right: 1em;
}

.projet .overlay span i
{
    position: relative;
    top: .3em;
}

#footer
{
    position: relative;
    background-size: cover;
}

#footer section
{
    position: relative;
}

#footer form
{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, .6);
    z-index: 10;
}

#footer form h3
{
    margin: 0;
    font-size: 1.75em;
}

#footer form p
{
    margin: .5em 0;
}

#footer form input,
#footer form textarea
{
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background: white;
}

#footer form button
{
    margin-top: .5em;
    width: 50%;
}

#footer .maps
{
    position: absolute;
    height: 600px;
    overflow: hidden;
    width: 100%;
    border: 0;
    background: #64ABCD;
    z-index: 1;
}

#footer .maps iframe
{
    height: 100% !important;
    width: 100% !important;
    opacity: 0.5;
}

.clearfix:before,
.clearfix:after
{
    content: " ";
    display: table;
}

.clearfix:after
{
    clear: both;
}

.services-picture
{
    text-align: center;
}

div.services-separator
{
    height: 1px;
    background-color: #808080;
    text-align: center;
    margin: 10px 46% 0 46%;
}

div.services-separator i
{
    position: relative;
    top: -9px;
}

/* Blue dot
div.services-separator div.blue-dot
{
    background-color: #64ABCD;
    border-radius: 5px;
    height: 12px;
    width: 12px;
    position: relative;
    top: -5px;
    margin: 0 0 0 49.5%;
}
*/

/* MEDIA QUERIES */

@media only screen  and (min-width: 480px)
{

    body
    {
        padding-top: 100px;
    }

    .main-navbar ul
    {
        margin: 0 10% 0 0;
    }

    #logo
    {
        padding: 0 0 0 20%;
    }

    nav.btn-group
    {
        display: flex;
        justify-content: center;
        margin: 4em auto;
        flex-direction: row;
    }

    nav.btn-group .btn.active:after
    {
        content: "";
        display: block;
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #5488A1;
    }

    .main-nav a:hover,
    .main-nav a.active
    {
        border-top-color: transparent;
        border-bottom-color: #64ABCD;
    }
}

@media only screen  and (min-width: 570px)
{
    .projet
    {
        width: 48%;
        margin: 1%;
    }


}

@media only screen  and (min-width: 768px)
{

    body
    {
        padding-top: 90px;
    }

    .main-navbar
    {
        display: flex;
        justify-content: space-around;
    }

    .main-navbar a:hover
    {
        border-bottom-color: transparent;
        border-top-color: #64ABCD;
    }

    .slide-content
    {
        text-align: left;
        width: 65%;
    }

    #services ul
    {
        text-align: left;
        max-width: 75%;
    }

    #services li
    {
        margin-bottom: 3em;
    }

    #services img
    {
        margin-top: 2em;
    }

    .icon.left
    {
        float: left;
        margin: 0 1em 0 0;
        clear: both;
    }

    .projet
    {
        width: 31.33%;
    }

    #footer .maps
    {
        display: block;
    }

    #footer form
    {
        max-width: 400px;
        float: right;
        margin: 1em 5% 2em 0;
    }

    #footer
    {
        background: none;
    }

}

@media only screen  and (min-width: 968px)
{

    .services-content
    {
        display: flex;
        justify-content: space-around;
    }

    .services-picture
    {
        width: 50%;
        text-align: right;
    }

    #footer form
    {
        margin-right: 10%;
    }

    #logo
    {
        padding: 0 0 0 0;
    }
}

@media only screen  and (min-width: 1024px)
{

    .projet
    {
        width: 23%;
    }

    #footer form
    {
        margin-right: 10%;
    }

    #logo
    {
        padding: 0 20em 0 0;
    }
}

/* CSS ANIMATION */

@keyframes movemydiv
{
    from
    {
        transform: translateX(0px);
    }

    30%
    {
        transform: translateX(150px);
    }

    60%
    {
        transform: translateX(150px) rotate(30deg);
    }

    80%
    {
        transform: translate(100px, 80px) rotate(30deg);
    }

    to
    {
        transform: translate(100px, 80px) rotate(30deg);
        border-radius: 30px;
    }
}

.services-picture img:hover
{
    animation: movemydiv 2s linear alternate infinite;
}